### Importing The Library

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.0.2-cp38-cp38-macosx_11_0_arm64.whl (10.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 15.2 MB/s eta 0:00:0000:010:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/srvmdk/.anaconda3/envs/bia_python/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/srvmdk/.anaconda3/envs/bia_python/lib/python3.8/site-packages (from pandas) (2023.3)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 14.6 MB/s eta 0:00:0000:01
Collecting numpy>=1.20.3 (from pandas)
  Downloading numpy-1.24.3-cp38-cp38-macosx_11_0_arm64.whl (13.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.8/13.8 MB 798.0 kB/s eta 0:00:0000:0100:01
Requirement already satisfied: six>=1.5 in /Users/srvmdk/.anaconda3/envs/bia_python/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.24.3 pandas-2.0.2 tzdata-2023.3

In [2]:
import pandas as pd

### Series And Dataframes

In [3]:
s1 = pd.Series(range(0, 5))

In [4]:
s2 = pd.Series(range(1, 6))

In [5]:
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [6]:
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
df = pd.concat([s1, s2], axis=1)

In [8]:
df

   0  1
0  0  1
1  1  2
2  2  3
3  3  4
4  4  5

In [9]:
df.index.values # index

array([0, 1, 2, 3, 4])

In [10]:
pd.DataFrame({
    'col0': [1, 2, 3, 4, 5],
    'col1': [0.1, 0.2, 0.3, 0.4, 0.5]
})

   col0  col1
0     1   0.1
1     2   0.2
2     3   0.3
3     4   0.4
4     5   0.5

### Reading From CSV

In [11]:
df_countries = pd.read_csv('https://perso.telecom-paristech.fr/eagan/class/igr204/data/factbook.csv', sep=';')

In [12]:
df_countries

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
0,String,double,double,double,double,double,double,double,double,double,...,double,double,double,double,double,double,double,double,double,double
1,Afghanistan,647500,47.02,NaN,20.75,8000000000,652200000,540000000,446000000,21500000000,...,0,0,29928987,NaN,NaN,NaN,33100,15000,6.75,NaN
2,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748,15.08,-504000000,5.12,1410000000,6760000000,5680000000,552400000,17460000000,...,2000,185500000,3563112,NaN,447,1206000000,255000,1100000,2.04,14.80
4,Algeria,2381740,17.13,11900000000,4.60,21900000000,23610000000,25760000000,32160000000,212300000000,...,1200000,11870000000,32531853,37.40,3973,43550000000,2199600,1447310,1.92,25.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,West Bank,5860,32.37,NaN,3.99,108000000,NaN,NaN,205000000,1800000000,...,NaN,NaN,2385615,NaN,NaN,NaN,301600,480000,4.40,27.20
260,Western Sahara,266000,NaN,NaN,NaN,NaN,83700000,90000000,NaN,NaN,...,0,NaN,273008,NaN,NaN,NaN,NaN,0,NaN,NaN
261,Yemen,527970,43.07,369900000,8.53,5400000000,2827000000,3040000000,4468000000,16250000000,...,417500,4000000000,20727063,46.40,NaN,5300000000,542200,411100,6.67,35.00
262,Zambia,752614,41.38,-181400000,20.23,5353000000,5345000000,8167000000,1548000000,9409000000,...,0,NaN,11261795,127.50,2173,345000000,88400,241000,5.47,50.00
263,Zimbabwe,390580,29.74,-230300000,24.66,4086000000,11220000000,8839000000,1409000000,24370000000,...,0,NaN,12746990,52.30,3077,57000000,300900,379100,3.54,70.00

In [13]:
df_countries = df_countries.drop(0, axis=0)

In [14]:
df_countries

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
1,Afghanistan,647500,47.02,NaN,20.75,8000000000,652200000,540000000,446000000,21500000000,...,0,0,29928987,NaN,NaN,NaN,33100,15000,6.75,NaN
2,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748,15.08,-504000000,5.12,1410000000,6760000000,5680000000,552400000,17460000000,...,2000,185500000,3563112,NaN,447,1206000000,255000,1100000,2.04,14.80
4,Algeria,2381740,17.13,11900000000,4.60,21900000000,23610000000,25760000000,32160000000,212300000000,...,1200000,11870000000,32531853,37.40,3973,43550000000,2199600,1447310,1.92,25.40
5,American Samoa,199,23.13,NaN,3.33,NaN,120900000,130000000,30000000,500000000,...,0,NaN,57881,NaN,NaN,NaN,15000,2377,3.25,6.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,West Bank,5860,32.37,NaN,3.99,108000000,NaN,NaN,205000000,1800000000,...,NaN,NaN,2385615,NaN,NaN,NaN,301600,480000,4.40,27.20
260,Western Sahara,266000,NaN,NaN,NaN,NaN,83700000,90000000,NaN,NaN,...,0,NaN,273008,NaN,NaN,NaN,NaN,0,NaN,NaN
261,Yemen,527970,43.07,369900000,8.53,5400000000,2827000000,3040000000,4468000000,16250000000,...,417500,4000000000,20727063,46.40,NaN,5300000000,542200,411100,6.67,35.00
262,Zambia,752614,41.38,-181400000,20.23,5353000000,5345000000,8167000000,1548000000,9409000000,...,0,NaN,11261795,127.50,2173,345000000,88400,241000,5.47,50.00
263,Zimbabwe,390580,29.74,-230300000,24.66,4086000000,11220000000,8839000000,1409000000,24370000000,...,0,NaN,12746990,52.30,3077,57000000,300900,379100,3.54,70.00

### Saving To CSV

In [15]:
df_countries.to_csv('countries.csv')

### Some Basic EDA Functions

In [16]:
df_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 1 to 263
Data columns (total 45 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Country                                         263 non-null    object
 1   Area(sq km)                                     263 non-null    object
 2   Birth rate(births/1000 population)              225 non-null    object
 3   Current account balance                         149 non-null    object
 4   Death rate(deaths/1000 population)              225 non-null    object
 5   Debt - external                                 201 non-null    object
 6   Electricity - consumption(kWh)                  215 non-null    object
 7   Electricity - production(kWh)                   213 non-null    object
 8   Exports                                         224 non-null    object
 9   GDP                                             230 non-null    object
 10  GDP - per capita                                230 non-null    object
 11  GDP - real growth rate(%)                       212 non-null    object
 12  HIV/AIDS - adult prevalence rate(%)             168 non-null    object
 13  HIV/AIDS - deaths                               148 non-null    object
 14  HIV/AIDS - people living with HIV/AIDS          164 non-null    object
 15  Highways(km)                                    230 non-null    object
 16  Imports                                         224 non-null    object
 17  Industrial production growth rate(%)            164 non-null    object
 18  Infant mortality rate(deaths/1000 live births)  225 non-null    object
 19  Inflation rate (consumer prices)(%)             222 non-null    object
 20  Internet hosts                                  191 non-null    object
 21  Internet users                                  216 non-null    object
 22  Investment (gross fixed)(% of GDP)              146 non-null    object
 23  Labor force                                     214 non-null    object
 24  Life expectancy at birth(years)                 225 non-null    object
 25  Military expenditures - dollar figure           170 non-null    object
 26  Military expenditures - percent of GDP(%)       165 non-null    object
 27  Natural gas - consumption(cu m)                 108 non-null    object
 28  Natural gas - exports(cu m)                     108 non-null    object
 29  Natural gas - imports(cu m)                     108 non-null    object
 30  Natural gas - production(cu m)                  107 non-null    object
 31  Natural gas - proved reserves(cu m)             97 non-null     object
 32  Oil - consumption(bbl/day)                      212 non-null    object
 33  Oil - exports(bbl/day)                          58 non-null     object
 34  Oil - imports(bbl/day)                          46 non-null     object
 35  Oil - production(bbl/day)                       212 non-null    object
 36  Oil - proved reserves(bbl)                      97 non-null     object
 37  Population                                      238 non-null    object
 38  Public debt(% of GDP)                           108 non-null    object
 39  Railways(km)                                    134 non-null    object
 40  Reserves of foreign exchange & gold             147 non-null    object
 41  Telephones - main lines in use                  232 non-null    object
 42  Telephones - mobile cellular                    228 non-null    object
 43  Total fertility rate(children born/woman)       225 non-null    object
 44  Unemployment rate(%)                            192 non-null    object
dtypes: object(45)
memory usage: 92.6+ KB

In [18]:
df_countries.head(10)

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
1,Afghanistan,647500,47.02,NaN,20.75,8000000000,652200000,540000000,446000000,21500000000,...,0,0,29928987,NaN,NaN,NaN,33100,15000,6.75,NaN
2,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748,15.08,-504000000,5.12,1410000000,6760000000,5680000000,552400000,17460000000,...,2000,185500000,3563112,NaN,447,1206000000,255000,1100000,2.04,14.80
4,Algeria,2381740,17.13,11900000000,4.60,21900000000,23610000000,25760000000,32160000000,212300000000,...,1200000,11870000000,32531853,37.40,3973,43550000000,2199600,1447310,1.92,25.40
5,American Samoa,199,23.13,NaN,3.33,NaN,120900000,130000000,30000000,500000000,...,0,NaN,57881,NaN,NaN,NaN,15000,2377,3.25,6.00
6,Andorra,468,9.00,NaN,6.07,NaN,NaN,NaN,58000000,1900000000,...,NaN,NaN,70549,NaN,NaN,NaN,35000,23500,1.29,0.00
7,Angola,1246700,44.64,-37880000,25.90,10450000000,1587000000,1707000000,12760000000,23170000000,...,980000,22880000000,11190786,NaN,2761,800000000,96300,130000,6.27,NaN
8,Anguilla,102,14.26,NaN,5.43,8800000,42600000,NaN,2600000,112000000,...,NaN,NaN,13254,NaN,NaN,NaN,6200,1800,1.73,8.00
9,Antarctica,14000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
10,Antigua and Barbuda,443,17.26,NaN,5.44,231000000,103000000,110800000,689000000,750000000,...,0,NaN,68722,NaN,NaN,NaN,38000,38200,2.26,11.00

In [19]:
df_countries.tail(10)

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
254,Venezuela,912050,18.91,14590000000,4.90,33290000000,89300000000,89700000000,35840000000,145200000000,...,2600000,78000000000,25375281,43.10,682,25750000000,2841800,6463600,2.26,17.10
255,Vietnam,329560,17.07,-2061000000,6.20,16550000000,32060000000,34480000000,23720000000,227200000000,...,359400,650000000,83535576,65.90,2600,6510000000,4402000,2742000,1.94,1.90
256,Virgin Islands,352,14.20,NaN,6.26,NaN,962600000,1035000000,NaN,2500000000,...,0,NaN,108708,NaN,NaN,NaN,69400,41000,2.19,9.30
257,Wake Island,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,Wallis and Futuna,274,NaN,NaN,NaN,NaN,NaN,NaN,250000,60000000,...,NaN,NaN,16025,NaN,NaN,NaN,1900,0,NaN,NaN
259,West Bank,5860,32.37,NaN,3.99,108000000,NaN,NaN,205000000,1800000000,...,NaN,NaN,2385615,NaN,NaN,NaN,301600,480000,4.40,27.20
260,Western Sahara,266000,NaN,NaN,NaN,NaN,83700000,90000000,NaN,NaN,...,0,NaN,273008,NaN,NaN,NaN,NaN,0,NaN,NaN
261,Yemen,527970,43.07,369900000,8.53,5400000000,2827000000,3040000000,4468000000,16250000000,...,417500,4000000000,20727063,46.40,NaN,5300000000,542200,411100,6.67,35.00
262,Zambia,752614,41.38,-181400000,20.23,5353000000,5345000000,8167000000,1548000000,9409000000,...,0,NaN,11261795,127.50,2173,345000000,88400,241000,5.47,50.00
263,Zimbabwe,390580,29.74,-230300000,24.66,4086000000,11220000000,8839000000,1409000000,24370000000,...,0,NaN,12746990,52.30,3077,57000000,300900,379100,3.54,70.00

In [20]:
df_countries.describe()

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
count,263,263,225,149,225,201,215,213,224,230,...,212,97,238,108,134,147,232,228,225,192
unique,263,252,218,149,210,188,212,208,220,228,...,94,87,237,104,133,146,222,213,166,124
top,Afghanistan,5,16.83,-504000000,6.26,0,75580000000,81270000000,15500000000,60000000,...,0,0,361,20.00,699,1206000000,7000,0,1.39,15.00
freq,1,5,3,1,3,5,2,2,2,2,...,114,8,2,2,2,2,3,8,6,6

In [25]:
df_countries.iloc[0] # seeing one row

Country                                           Afghanistan
Area(sq km)                                            647500
Birth rate(births/1000 population)                      47.02
Current account balance                                   NaN
Death rate(deaths/1000 population)                      20.75
Debt - external                                    8000000000
Electricity - consumption(kWh)                      652200000
Electricity - production(kWh)                       540000000
Exports                                             446000000
GDP                                               21500000000
GDP - per capita                                          800
GDP - real growth rate(%)                                7.50
HIV/AIDS - adult prevalence rate(%)                      0.01
HIV/AIDS - deaths                                         NaN
HIV/AIDS - people living with HIV/AIDS                    NaN
Highways(km)                                            21000
Imports                                            3759000000
Industrial production growth rate(%)                      NaN
Infant mortality rate(deaths/1000 live births)         163.07
Inflation rate (consumer prices)(%)                     10.30
Internet hosts                                            NaN
Internet users                                           1000
Investment (gross fixed)(% of GDP)                        NaN
Labor force                                          11800000
Life expectancy at birth(years)                         42.90
Military expenditures - dollar figure               188400000
Military expenditures - percent of GDP(%)                2.60
Natural gas - consumption(cu m)                     220000000
Natural gas - exports(cu m)                                 0
Natural gas - imports(cu m)                                 0
Natural gas - production(cu m)                      220000000
Natural gas - proved reserves(cu m)               49980000000
Oil - consumption(bbl/day)                               3500
Oil - exports(bbl/day)                                    NaN
Oil - imports(bbl/day)                                    NaN
Oil - production(bbl/day)                                   0
Oil - proved reserves(bbl)                                  0
Population                                           29928987
Public debt(% of GDP)                                     NaN
Railways(km)                                              NaN
Reserves of foreign exchange & gold                       NaN
Telephones - main lines in use                          33100
Telephones - mobile cellular                            15000
Total fertility rate(children born/woman)                6.75
Unemployment rate(%)                                      NaN
Name: 1, dtype: object

In [26]:
df_countries.iloc[0:10] # range of rows

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
1,Afghanistan,647500,47.02,NaN,20.75,8000000000,652200000,540000000,446000000,21500000000,...,0,0,29928987,NaN,NaN,NaN,33100,15000,6.75,NaN
2,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748,15.08,-504000000,5.12,1410000000,6760000000,5680000000,552400000,17460000000,...,2000,185500000,3563112,NaN,447,1206000000,255000,1100000,2.04,14.80
4,Algeria,2381740,17.13,11900000000,4.60,21900000000,23610000000,25760000000,32160000000,212300000000,...,1200000,11870000000,32531853,37.40,3973,43550000000,2199600,1447310,1.92,25.40
5,American Samoa,199,23.13,NaN,3.33,NaN,120900000,130000000,30000000,500000000,...,0,NaN,57881,NaN,NaN,NaN,15000,2377,3.25,6.00
6,Andorra,468,9.00,NaN,6.07,NaN,NaN,NaN,58000000,1900000000,...,NaN,NaN,70549,NaN,NaN,NaN,35000,23500,1.29,0.00
7,Angola,1246700,44.64,-37880000,25.90,10450000000,1587000000,1707000000,12760000000,23170000000,...,980000,22880000000,11190786,NaN,2761,800000000,96300,130000,6.27,NaN
8,Anguilla,102,14.26,NaN,5.43,8800000,42600000,NaN,2600000,112000000,...,NaN,NaN,13254,NaN,NaN,NaN,6200,1800,1.73,8.00
9,Antarctica,14000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
10,Antigua and Barbuda,443,17.26,NaN,5.44,231000000,103000000,110800000,689000000,750000000,...,0,NaN,68722,NaN,NaN,NaN,38000,38200,2.26,11.00

In [27]:
df_countries.iloc[0:10, 0] # range of rows and one column

1             Afghanistan
2                Akrotiri
3                 Albania
4                 Algeria
5          American Samoa
6                 Andorra
7                  Angola
8                Anguilla
9              Antarctica
10    Antigua and Barbuda
Name: Country, dtype: object

In [28]:
df_countries.iloc[0:10, 0: 10] # range of rows and range of columns

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP
1,Afghanistan,647500,47.02,NaN,20.75,8000000000,652200000,540000000,446000000,21500000000
2,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748,15.08,-504000000,5.12,1410000000,6760000000,5680000000,552400000,17460000000
4,Algeria,2381740,17.13,11900000000,4.60,21900000000,23610000000,25760000000,32160000000,212300000000
5,American Samoa,199,23.13,NaN,3.33,NaN,120900000,130000000,30000000,500000000
6,Andorra,468,9.00,NaN,6.07,NaN,NaN,NaN,58000000,1900000000
7,Angola,1246700,44.64,-37880000,25.90,10450000000,1587000000,1707000000,12760000000,23170000000
8,Anguilla,102,14.26,NaN,5.43,8800000,42600000,NaN,2600000,112000000
9,Antarctica,14000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,443,17.26,NaN,5.44,231000000,103000000,110800000,689000000,750000000

In [30]:
df_countries.axes # axes

[RangeIndex(start=1, stop=264, step=1),
 Index(['Country', 'Area(sq km)', 'Birth rate(births/1000 population)',
        'Current account balance', 'Death rate(deaths/1000 population)',
        'Debt - external', 'Electricity - consumption(kWh)',
        'Electricity - production(kWh)', 'Exports', 'GDP', 'GDP - per capita',
        'GDP - real growth rate(%)', 'HIV/AIDS - adult prevalence rate(%)',
        'HIV/AIDS - deaths', 'HIV/AIDS - people living with HIV/AIDS',
        'Highways(km)', 'Imports', 'Industrial production growth rate(%)',
        'Infant mortality rate(deaths/1000 live births)',
        'Inflation rate (consumer prices)(%)', 'Internet hosts',
        'Internet users', 'Investment (gross fixed)(% of GDP)', 'Labor force',
        'Life expectancy at birth(years)',
        'Military expenditures - dollar figure',
        'Military expenditures - percent of GDP(%)',
        'Natural gas - consumption(cu m)', 'Natural gas - exports(cu m)',
        'Natural gas - imports(cu m)', 'Natural gas - production(cu m)',
        'Natural gas - proved reserves(cu m)', 'Oil - consumption(bbl/day)',
        'Oil - exports(bbl/day)', 'Oil - imports(bbl/day)',
        'Oil - production(bbl/day)', 'Oil - proved reserves(bbl)', 'Population',
        'Public debt(% of GDP)', 'Railways(km)',
        'Reserves of foreign exchange & gold', 'Telephones - main lines in use',
        'Telephones - mobile cellular',
        'Total fertility rate(children born/woman)', 'Unemployment rate(%)'],
       dtype='object')]

In [35]:
df_countries.dtypes # data types

Country                                           object
Area(sq km)                                       object
Birth rate(births/1000 population)                object
Current account balance                           object
Death rate(deaths/1000 population)                object
Debt - external                                   object
Electricity - consumption(kWh)                    object
Electricity - production(kWh)                     object
Exports                                           object
GDP                                               object
GDP - per capita                                  object
GDP - real growth rate(%)                         object
HIV/AIDS - adult prevalence rate(%)               object
HIV/AIDS - deaths                                 object
HIV/AIDS - people living with HIV/AIDS            object
Highways(km)                                      object
Imports                                           object
Industrial production growth rate(%)              object
Infant mortality rate(deaths/1000 live births)    object
Inflation rate (consumer prices)(%)               object
Internet hosts                                    object
Internet users                                    object
Investment (gross fixed)(% of GDP)                object
Labor force                                       object
Life expectancy at birth(years)                   object
Military expenditures - dollar figure             object
Military expenditures - percent of GDP(%)         object
Natural gas - consumption(cu m)                   object
Natural gas - exports(cu m)                       object
Natural gas - imports(cu m)                       object
Natural gas - production(cu m)                    object
Natural gas - proved reserves(cu m)               object
Oil - consumption(bbl/day)                        object
Oil - exports(bbl/day)                            object
Oil - imports(bbl/day)                            object
Oil - production(bbl/day)                         object
Oil - proved reserves(bbl)                        object
Population                                        object
Public debt(% of GDP)                             object
Railways(km)                                      object
Reserves of foreign exchange & gold               object
Telephones - main lines in use                    object
Telephones - mobile cellular                      object
Total fertility rate(children born/woman)         object
Unemployment rate(%)                              object
dtype: object

In [36]:
df_countries.ndim # number of dimensions

2

In [37]:
df_countries.shape # shape of the dataframe

(263, 45)

In [38]:
df_countries.size # size of the dataframe row * column

11835

### Changing Data Types

In [51]:
df_countries_names = df_countries.iloc[:, 0]

In [52]:
df_countries_rest = df_countries.iloc[:, 1:].astype('float64')

In [55]:
df_countries_rest

,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,GDP - per capita,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
1,647500.0,47.02,NaN,20.75,8.000000e+09,6.522000e+08,5.400000e+08,4.460000e+08,2.150000e+10,800.0,...,0.0,0.000000e+00,29928987.0,NaN,NaN,NaN,33100.0,15000.0,6.75,NaN
2,123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,28748.0,15.08,-5.040000e+08,5.12,1.410000e+09,6.760000e+09,5.680000e+09,5.524000e+08,1.746000e+10,4900.0,...,2000.0,1.855000e+08,3563112.0,NaN,447.0,1.206000e+09,255000.0,1100000.0,2.04,14.8
4,2381740.0,17.13,1.190000e+10,4.60,2.190000e+10,2.361000e+10,2.576000e+10,3.216000e+10,2.123000e+11,6600.0,...,1200000.0,1.187000e+10,32531853.0,37.4,3973.0,4.355000e+10,2199600.0,1447310.0,1.92,25.4
5,199.0,23.13,NaN,3.33,NaN,1.209000e+08,1.300000e+08,3.000000e+07,5.000000e+08,8000.0,...,0.0,NaN,57881.0,NaN,NaN,NaN,15000.0,2377.0,3.25,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,5860.0,32.37,NaN,3.99,1.080000e+08,NaN,NaN,2.050000e+08,1.800000e+09,800.0,...,NaN,NaN,2385615.0,NaN,NaN,NaN,301600.0,480000.0,4.40,27.2
260,266000.0,NaN,NaN,NaN,NaN,8.370000e+07,9.000000e+07,NaN,NaN,NaN,...,0.0,NaN,273008.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN
261,527970.0,43.07,3.699000e+08,8.53,5.400000e+09,2.827000e+09,3.040000e+09,4.468000e+09,1.625000e+10,800.0,...,417500.0,4.000000e+09,20727063.0,46.4,NaN,5.300000e+09,542200.0,411100.0,6.67,35.0
262,752614.0,41.38,-1.814000e+08,20.23,5.353000e+09,5.345000e+09,8.167000e+09,1.548000e+09,9.409000e+09,900.0,...,0.0,NaN,11261795.0,127.5,2173.0,3.450000e+08,88400.0,241000.0,5.47,50.0
263,390580.0,29.74,-2.303000e+08,24.66,4.086000e+09,1.122000e+10,8.839000e+09,1.409000e+09,2.437000e+10,1900.0,...,0.0,NaN,12746990.0,52.3,3077.0,5.700000e+07,300900.0,379100.0,3.54,70.0

In [57]:
df_countries = pd.concat([df_countries_names, df_countries_rest], axis=1)

### Sorting Columns

In [58]:
df_countries.sort_values('GDP', ascending=False)

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
250,United States,9631418.0,14.14,-6.465000e+11,8.25,1.400000e+12,3.660000e+12,3.839000e+12,7.950000e+11,1.175000e+13,...,7800000.0,2.245000e+10,2.957341e+08,65.0,228464.0,8.594000e+10,181599900.0,158722000.0,2.08,5.5
79,#European Union,3976372.0,10.10,NaN,10.10,NaN,2.661000e+12,2.888000e+12,1.109000e+12,1.165000e+13,...,2648000.0,2.821000e+10,4.570304e+08,NaN,222293.0,NaN,238763162.0,314644700.0,1.48,9.5
50,China,9596960.0,13.14,3.032000e+10,6.94,2.333000e+11,1.630000e+12,1.910000e+12,5.831000e+11,7.262000e+12,...,3392000.0,1.774000e+10,1.306314e+09,31.4,70058.0,6.099000e+11,263000000.0,269000000.0,1.72,9.8
123,Japan,377835.0,9.47,1.702000e+11,8.95,NaN,9.710000e+11,1.044000e+12,5.388000e+11,3.745000e+12,...,17330.0,2.929000e+07,1.274172e+08,164.3,23705.0,6.646000e+11,71149000.0,86658600.0,1.39,4.7
114,India,3287590.0,22.32,4.897000e+09,8.28,1.172000e+11,5.101000e+11,5.472000e+11,6.918000e+10,3.319000e+12,...,780000.0,5.700000e+09,1.080264e+09,59.7,63140.0,1.260000e+11,48917000.0,26154400.0,2.78,9.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Spratly Islands,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,Svalbard,62049.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.701000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,Tromelin Island,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,Wake Island,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,Western Sahara,266000.0,NaN,NaN,NaN,NaN,8.370000e+07,9.000000e+07,NaN,NaN,...,0.0,NaN,2.730080e+05,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [60]:
df_countries.describe()

,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,GDP - per capita,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
count,2.630000e+02,225.000000,1.490000e+02,225.000000,2.010000e+02,2.150000e+02,2.130000e+02,2.240000e+02,2.300000e+02,230.000000,...,2.120000e+02,9.700000e+01,2.380000e+02,108.000000,134.000000,1.470000e+02,2.320000e+02,2.280000e+02,225.000000,192.000000
mean,5.849875e+05,22.146667,-8.473897e+08,9.374267,6.317084e+10,8.070919e+10,8.849167e+10,4.432637e+10,2.925614e+11,10552.760870,...,3.710435e+05,1.416887e+10,2.900494e+07,55.896296,10217.246269,2.599825e+10,5.998770e+06,7.331346e+06,2.937778,15.254687
std,1.881416e+06,11.126969,5.633953e+10,4.969136,3.588986e+11,3.434223e+11,3.706046e+11,1.334267e+11,1.252331e+12,11104.610351,...,1.190319e+06,3.923463e+10,1.175456e+08,36.954000,29857.440213,8.023959e+10,2.717322e+07,3.075963e+07,1.556919,15.113801
min,0.000000e+00,7.230000,-6.465000e+11,2.300000,0.000000e+00,1.674000e+06,1.800000e+06,9.800000e+04,1.500000e+06,400.000000,...,0.000000e+00,0.000000e+00,4.600000e+01,2.100000,6.000000,2.978000e+07,0.000000e+00,0.000000e+00,0.910000,0.000000
25%,5.130000e+02,12.570000,-5.908000e+08,6.070000,6.680000e+08,4.529000e+08,4.108000e+08,2.365000e+08,2.522500e+09,2000.000000,...,0.000000e+00,8.000000e+07,2.837770e+05,31.475000,801.250000,7.851000e+08,3.365000e+04,4.137500e+04,1.750000,5.575000
50%,4.884500e+04,18.780000,-8.240000e+07,8.000000,4.069000e+09,4.450000e+09,4.873000e+09,2.058000e+09,1.685500e+10,5900.000000,...,0.000000e+00,4.088000e+08,4.440570e+06,50.750000,2585.500000,3.034000e+09,2.313500e+05,3.500500e+05,2.370000,10.500000
75%,3.339475e+05,30.010000,1.400000e+09,11.260000,1.707000e+10,3.320500e+10,3.551000e+10,1.624250e+10,9.183250e+10,16700.000000,...,7.214500e+04,4.408000e+09,1.628023e+07,69.675000,5195.000000,1.625500e+10,1.828550e+06,2.605450e+06,3.930000,19.625000
max,1.707520e+07,48.300000,1.702000e+11,29.360000,4.710000e+12,3.660000e+12,3.839000e+12,1.109000e+12,1.175000e+13,58900.000000,...,9.021000e+06,2.617000e+11,1.306314e+09,228.300000,228464.000000,6.646000e+11,2.630000e+08,3.146447e+08,6.840000,90.000000

In [59]:
df_countries.sort_values('Population')

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
193,Pitcairn Islands,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,46.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
126,Johnston Atoll,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,361.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Christmas Island,135.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,361.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Cocos (Keeling) Islands,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,628.0,NaN,NaN,NaN,287.0,NaN,NaN,60.0
108,Holy See (Vatican City),0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,921.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Palmyra Atoll,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,South Georgia and the South Sandwich Islands,3903.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,Spratly Islands,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,Tromelin Island,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,Wake Island,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Some Numerical Functions

In [67]:
df_countries.max()

Country                                                   Zimbabwe
Area(sq km)                                             17075200.0
Birth rate(births/1000 population)                            48.3
Current account balance                             170200000000.0
Death rate(deaths/1000 population)                           29.36
Debt - external                                    4710000000000.0
Electricity - consumption(kWh)                     3660000000000.0
Electricity - production(kWh)                      3839000000000.0
Exports                                            1109000000000.0
GDP                                               11750000000000.0
GDP - per capita                                           58900.0
GDP - real growth rate(%)                                     52.3
HIV/AIDS - adult prevalence rate(%)                           38.8
HIV/AIDS - deaths                                         370000.0
HIV/AIDS - people living with HIV/AIDS                   5300000.0
Highways(km)                                             6393603.0
Imports                                            1476000000000.0
Industrial production growth rate(%)                          30.0
Infant mortality rate(deaths/1000 live births)              191.19
Inflation rate (consumer prices)(%)                          133.0
Internet hosts                                         115311958.0
Internet users                                         206032067.0
Investment (gross fixed)(% of GDP)                            65.1
Labor force                                            760800000.0
Life expectancy at birth(years)                              83.51
Military expenditures - dollar figure               370700000000.0
Military expenditures - percent of GDP(%)                     14.6
Natural gas - consumption(cu m)                     640900000000.0
Natural gas - exports(cu m)                         171000000000.0
Natural gas - imports(cu m)                         297800000000.0
Natural gas - production(cu m)                      578600000000.0
Natural gas - proved reserves(cu m)               47000000000000.0
Oil - consumption(bbl/day)                              19650000.0
Oil - exports(bbl/day)                                   7920000.0
Oil - imports(bbl/day)                                  15690000.0
Oil - production(bbl/day)                                9021000.0
Oil - proved reserves(bbl)                          261700000000.0
Population                                            1306313812.0
Public debt(% of GDP)                                        228.3
Railways(km)                                              228464.0
Reserves of foreign exchange & gold                 664600000000.0
Telephones - main lines in use                         263000000.0
Telephones - mobile cellular                           314644700.0
Total fertility rate(children born/woman)                     6.84
Unemployment rate(%)                                          90.0
dtype: object

In [73]:
df_countries['Population'].max()

1306313812.0

In [68]:
df_countries.min()

Country                                           #European Union
Area(sq km)                                                   0.0
Birth rate(births/1000 population)                           7.23
Current account balance                           -646500000000.0
Death rate(deaths/1000 population)                            2.3
Debt - external                                               0.0
Electricity - consumption(kWh)                          1674000.0
Electricity - production(kWh)                           1800000.0
Exports                                                   98000.0
GDP                                                     1500000.0
GDP - per capita                                            400.0
GDP - real growth rate(%)                                    -8.2
HIV/AIDS - adult prevalence rate(%)                           0.0
HIV/AIDS - deaths                                             0.0
HIV/AIDS - people living with HIV/AIDS                        0.0
Highways(km)                                                  6.0
Imports                                                  300000.0
Industrial production growth rate(%)                        -10.0
Infant mortality rate(deaths/1000 live births)               2.29
Inflation rate (consumer prices)(%)                          -3.6
Internet hosts                                                1.0
Internet users                                              300.0
Investment (gross fixed)(% of GDP)                            8.0
Labor force                                                  15.0
Life expectancy at birth(years)                             33.87
Military expenditures - dollar figure                    700000.0
Military expenditures - percent of GDP(%)                    0.11
Natural gas - consumption(cu m)                               0.0
Natural gas - exports(cu m)                                   0.0
Natural gas - imports(cu m)                                   0.0
Natural gas - production(cu m)                                0.0
Natural gas - proved reserves(cu m)                           0.0
Oil - consumption(bbl/day)                                    0.0
Oil - exports(bbl/day)                                        0.0
Oil - imports(bbl/day)                                        0.0
Oil - production(bbl/day)                                     0.0
Oil - proved reserves(bbl)                                    0.0
Population                                                   46.0
Public debt(% of GDP)                                         2.1
Railways(km)                                                  6.0
Reserves of foreign exchange & gold                    29780000.0
Telephones - main lines in use                                0.0
Telephones - mobile cellular                                  0.0
Total fertility rate(children born/woman)                    0.91
Unemployment rate(%)                                          0.0
dtype: object

In [71]:
df_countries.iloc[:, 1:].median()

Area(sq km)                                       4.884500e+04
Birth rate(births/1000 population)                1.878000e+01
Current account balance                          -8.240000e+07
Death rate(deaths/1000 population)                8.000000e+00
Debt - external                                   4.069000e+09
Electricity - consumption(kWh)                    4.450000e+09
Electricity - production(kWh)                     4.873000e+09
Exports                                           2.058000e+09
GDP                                               1.685500e+10
GDP - per capita                                  5.900000e+03
GDP - real growth rate(%)                         4.000000e+00
HIV/AIDS - adult prevalence rate(%)               3.000000e-01
HIV/AIDS - deaths                                 9.000000e+02
HIV/AIDS - people living with HIV/AIDS            1.450000e+04
Highways(km)                                      1.429900e+04
Imports                                           2.377500e+09
Industrial production growth rate(%)              4.650000e+00
Infant mortality rate(deaths/1000 live births)    2.097000e+01
Inflation rate (consumer prices)(%)               3.200000e+00
Internet hosts                                    3.627000e+03
Internet users                                    1.320000e+05
Investment (gross fixed)(% of GDP)                1.980000e+01
Labor force                                       2.190000e+06
Life expectancy at birth(years)                   7.177000e+01
Military expenditures - dollar figure             2.214500e+08
Military expenditures - percent of GDP(%)         1.890000e+00
Natural gas - consumption(cu m)                   5.752000e+09
Natural gas - exports(cu m)                       0.000000e+00
Natural gas - imports(cu m)                       3.250000e+07
Natural gas - production(cu m)                    1.760000e+09
Natural gas - proved reserves(cu m)               1.076000e+11
Oil - consumption(bbl/day)                        3.050000e+04
Oil - exports(bbl/day)                            2.013500e+05
Oil - imports(bbl/day)                            2.757500e+05
Oil - production(bbl/day)                         0.000000e+00
Oil - proved reserves(bbl)                        4.088000e+08
Population                                        4.440570e+06
Public debt(% of GDP)                             5.075000e+01
Railways(km)                                      2.585500e+03
Reserves of foreign exchange & gold               3.034000e+09
Telephones - main lines in use                    2.313500e+05
Telephones - mobile cellular                      3.500500e+05
Total fertility rate(children born/woman)         2.370000e+00
Unemployment rate(%)                              1.050000e+01
dtype: float64

In [74]:
df_countries.iloc[:, 1:].mean()

Area(sq km)                                       5.849875e+05
Birth rate(births/1000 population)                2.214667e+01
Current account balance                          -8.473897e+08
Death rate(deaths/1000 population)                9.374267e+00
Debt - external                                   6.317084e+10
Electricity - consumption(kWh)                    8.070919e+10
Electricity - production(kWh)                     8.849167e+10
Exports                                           4.432637e+10
GDP                                               2.925614e+11
GDP - per capita                                  1.055276e+04
GDP - real growth rate(%)                         4.777830e+00
HIV/AIDS - adult prevalence rate(%)               2.539702e+00
HIV/AIDS - deaths                                 1.916086e+04
HIV/AIDS - people living with HIV/AIDS            2.330337e+05
Highways(km)                                      1.415580e+05
Imports                                           4.438353e+10
Industrial production growth rate(%)              5.578659e+00
Infant mortality rate(deaths/1000 live births)    3.535773e+01
Inflation rate (consumer prices)(%)               5.847748e+00
Internet hosts                                    1.012619e+06
Internet users                                    4.205036e+06
Investment (gross fixed)(% of GDP)                2.171849e+01
Labor force                                       1.471036e+07
Life expectancy at birth(years)                   6.769258e+01
Military expenditures - dollar figure             5.183827e+09
Military expenditures - percent of GDP(%)         2.579697e+00
Natural gas - consumption(cu m)                   2.839463e+10
Natural gas - exports(cu m)                       7.146426e+09
Natural gas - imports(cu m)                       9.412425e+09
Natural gas - production(cu m)                    2.691239e+10
Natural gas - proved reserves(cu m)               1.663234e+12
Oil - consumption(bbl/day)                        4.319728e+05
Oil - exports(bbl/day)                            8.219072e+05
Oil - imports(bbl/day)                            1.000184e+06
Oil - production(bbl/day)                         3.710435e+05
Oil - proved reserves(bbl)                        1.416887e+10
Population                                        2.900494e+07
Public debt(% of GDP)                             5.589630e+01
Railways(km)                                      1.021725e+04
Reserves of foreign exchange & gold               2.599825e+10
Telephones - main lines in use                    5.998770e+06
Telephones - mobile cellular                      7.331346e+06
Total fertility rate(children born/woman)         2.937778e+00
Unemployment rate(%)                              1.525469e+01
dtype: float64

### Filtering Rows

In [82]:
df_countries[df_countries['Country'] == 'India']

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
114,India,3287590.0,22.32,4.897000e+09,8.28,1.172000e+11,5.101000e+11,5.472000e+11,6.918000e+10,3.319000e+12,...,780000.0,5.700000e+09,1.080264e+09,59.7,63140.0,1.260000e+11,48917000.0,26154400.0,2.78,9.2

In [83]:
df_countries[df_countries['Country'] != 'India']

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
1,Afghanistan,647500.0,47.02,NaN,20.75,8.000000e+09,6.522000e+08,5.400000e+08,4.460000e+08,2.150000e+10,...,0.0,0.000000e+00,29928987.0,NaN,NaN,NaN,33100.0,15000.0,6.75,NaN
2,Akrotiri,123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748.0,15.08,-5.040000e+08,5.12,1.410000e+09,6.760000e+09,5.680000e+09,5.524000e+08,1.746000e+10,...,2000.0,1.855000e+08,3563112.0,NaN,447.0,1.206000e+09,255000.0,1100000.0,2.04,14.8
4,Algeria,2381740.0,17.13,1.190000e+10,4.60,2.190000e+10,2.361000e+10,2.576000e+10,3.216000e+10,2.123000e+11,...,1200000.0,1.187000e+10,32531853.0,37.4,3973.0,4.355000e+10,2199600.0,1447310.0,1.92,25.4
5,American Samoa,199.0,23.13,NaN,3.33,NaN,1.209000e+08,1.300000e+08,3.000000e+07,5.000000e+08,...,0.0,NaN,57881.0,NaN,NaN,NaN,15000.0,2377.0,3.25,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,West Bank,5860.0,32.37,NaN,3.99,1.080000e+08,NaN,NaN,2.050000e+08,1.800000e+09,...,NaN,NaN,2385615.0,NaN,NaN,NaN,301600.0,480000.0,4.40,27.2
260,Western Sahara,266000.0,NaN,NaN,NaN,NaN,8.370000e+07,9.000000e+07,NaN,NaN,...,0.0,NaN,273008.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN
261,Yemen,527970.0,43.07,3.699000e+08,8.53,5.400000e+09,2.827000e+09,3.040000e+09,4.468000e+09,1.625000e+10,...,417500.0,4.000000e+09,20727063.0,46.4,NaN,5.300000e+09,542200.0,411100.0,6.67,35.0
262,Zambia,752614.0,41.38,-1.814000e+08,20.23,5.353000e+09,5.345000e+09,8.167000e+09,1.548000e+09,9.409000e+09,...,0.0,NaN,11261795.0,127.5,2173.0,3.450000e+08,88400.0,241000.0,5.47,50.0
263,Zimbabwe,390580.0,29.74,-2.303000e+08,24.66,4.086000e+09,1.122000e+10,8.839000e+09,1.409000e+09,2.437000e+10,...,0.0,NaN,12746990.0,52.3,3077.0,5.700000e+07,300900.0,379100.0,3.54,70.0

In [84]:
df_countries[df_countries['Population'] > 1000000]

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
1,Afghanistan,647500.0,47.02,NaN,20.75,8.000000e+09,6.522000e+08,5.400000e+08,4.460000e+08,2.150000e+10,...,0.0,0.000000e+00,29928987.0,NaN,NaN,NaN,33100.0,15000.0,6.75,NaN
3,Albania,28748.0,15.08,-5.040000e+08,5.12,1.410000e+09,6.760000e+09,5.680000e+09,5.524000e+08,1.746000e+10,...,2000.0,1.855000e+08,3563112.0,NaN,447.0,1.206000e+09,255000.0,1100000.0,2.04,14.8
4,Algeria,2381740.0,17.13,1.190000e+10,4.60,2.190000e+10,2.361000e+10,2.576000e+10,3.216000e+10,2.123000e+11,...,1200000.0,1.187000e+10,32531853.0,37.4,3973.0,4.355000e+10,2199600.0,1447310.0,1.92,25.4
7,Angola,1246700.0,44.64,-3.788000e+07,25.90,1.045000e+10,1.587000e+09,1.707000e+09,1.276000e+10,2.317000e+10,...,980000.0,2.288000e+10,11190786.0,NaN,2761.0,8.000000e+08,96300.0,130000.0,6.27,NaN
11,Argentina,2766890.0,16.90,5.473000e+09,7.56,1.577000e+11,8.165000e+10,8.139000e+10,3.378000e+10,4.835000e+11,...,755000.0,2.900000e+09,39537943.0,118.0,34091.0,1.947000e+10,8009400.0,6500000.0,2.19,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,Vietnam,329560.0,17.07,-2.061000e+09,6.20,1.655000e+10,3.206000e+10,3.448000e+10,2.372000e+10,2.272000e+11,...,359400.0,6.500000e+08,83535576.0,65.9,2600.0,6.510000e+09,4402000.0,2742000.0,1.94,1.9
259,West Bank,5860.0,32.37,NaN,3.99,1.080000e+08,NaN,NaN,2.050000e+08,1.800000e+09,...,NaN,NaN,2385615.0,NaN,NaN,NaN,301600.0,480000.0,4.40,27.2
261,Yemen,527970.0,43.07,3.699000e+08,8.53,5.400000e+09,2.827000e+09,3.040000e+09,4.468000e+09,1.625000e+10,...,417500.0,4.000000e+09,20727063.0,46.4,NaN,5.300000e+09,542200.0,411100.0,6.67,35.0
262,Zambia,752614.0,41.38,-1.814000e+08,20.23,5.353000e+09,5.345000e+09,8.167000e+09,1.548000e+09,9.409000e+09,...,0.0,NaN,11261795.0,127.5,2173.0,3.450000e+08,88400.0,241000.0,5.47,50.0
263,Zimbabwe,390580.0,29.74,-2.303000e+08,24.66,4.086000e+09,1.122000e+10,8.839000e+09,1.409000e+09,2.437000e+10,...,0.0,NaN,12746990.0,52.3,3077.0,5.700000e+07,300900.0,379100.0,3.54,70.0

In [93]:
df_countries[(df_countries['Population'] > 1000000) & (df_countries['GDP'] > 10000)]

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
1,Afghanistan,647500.0,47.02,NaN,20.75,8.000000e+09,6.522000e+08,5.400000e+08,4.460000e+08,2.150000e+10,...,0.0,0.000000e+00,29928987.0,NaN,NaN,NaN,33100.0,15000.0,6.75,NaN
3,Albania,28748.0,15.08,-5.040000e+08,5.12,1.410000e+09,6.760000e+09,5.680000e+09,5.524000e+08,1.746000e+10,...,2000.0,1.855000e+08,3563112.0,NaN,447.0,1.206000e+09,255000.0,1100000.0,2.04,14.8
4,Algeria,2381740.0,17.13,1.190000e+10,4.60,2.190000e+10,2.361000e+10,2.576000e+10,3.216000e+10,2.123000e+11,...,1200000.0,1.187000e+10,32531853.0,37.4,3973.0,4.355000e+10,2199600.0,1447310.0,1.92,25.4
7,Angola,1246700.0,44.64,-3.788000e+07,25.90,1.045000e+10,1.587000e+09,1.707000e+09,1.276000e+10,2.317000e+10,...,980000.0,2.288000e+10,11190786.0,NaN,2761.0,8.000000e+08,96300.0,130000.0,6.27,NaN
11,Argentina,2766890.0,16.90,5.473000e+09,7.56,1.577000e+11,8.165000e+10,8.139000e+10,3.378000e+10,4.835000e+11,...,755000.0,2.900000e+09,39537943.0,118.0,34091.0,1.947000e+10,8009400.0,6500000.0,2.19,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,Vietnam,329560.0,17.07,-2.061000e+09,6.20,1.655000e+10,3.206000e+10,3.448000e+10,2.372000e+10,2.272000e+11,...,359400.0,6.500000e+08,83535576.0,65.9,2600.0,6.510000e+09,4402000.0,2742000.0,1.94,1.9
259,West Bank,5860.0,32.37,NaN,3.99,1.080000e+08,NaN,NaN,2.050000e+08,1.800000e+09,...,NaN,NaN,2385615.0,NaN,NaN,NaN,301600.0,480000.0,4.40,27.2
261,Yemen,527970.0,43.07,3.699000e+08,8.53,5.400000e+09,2.827000e+09,3.040000e+09,4.468000e+09,1.625000e+10,...,417500.0,4.000000e+09,20727063.0,46.4,NaN,5.300000e+09,542200.0,411100.0,6.67,35.0
262,Zambia,752614.0,41.38,-1.814000e+08,20.23,5.353000e+09,5.345000e+09,8.167000e+09,1.548000e+09,9.409000e+09,...,0.0,NaN,11261795.0,127.5,2173.0,3.450000e+08,88400.0,241000.0,5.47,50.0
263,Zimbabwe,390580.0,29.74,-2.303000e+08,24.66,4.086000e+09,1.122000e+10,8.839000e+09,1.409000e+09,2.437000e+10,...,0.0,NaN,12746990.0,52.3,3077.0,5.700000e+07,300900.0,379100.0,3.54,70.0

### Column Operations

In [90]:
df_countries[['Country', 'Population', 'GDP']]

            Country  Population           GDP
1       Afghanistan  29928987.0  2.150000e+10
2          Akrotiri         NaN           NaN
3           Albania   3563112.0  1.746000e+10
4           Algeria  32531853.0  2.123000e+11
5    American Samoa     57881.0  5.000000e+08
..              ...         ...           ...
259       West Bank   2385615.0  1.800000e+09
260  Western Sahara    273008.0           NaN
261           Yemen  20727063.0  1.625000e+10
262          Zambia  11261795.0  9.409000e+09
263        Zimbabwe  12746990.0  2.437000e+10

[263 rows x 3 columns]

In [91]:
df_countries.rename(columns={'Area(sq km)': 'Area'})

,Country,Area,Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
1,Afghanistan,647500.0,47.02,NaN,20.75,8.000000e+09,6.522000e+08,5.400000e+08,4.460000e+08,2.150000e+10,...,0.0,0.000000e+00,29928987.0,NaN,NaN,NaN,33100.0,15000.0,6.75,NaN
2,Akrotiri,123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748.0,15.08,-5.040000e+08,5.12,1.410000e+09,6.760000e+09,5.680000e+09,5.524000e+08,1.746000e+10,...,2000.0,1.855000e+08,3563112.0,NaN,447.0,1.206000e+09,255000.0,1100000.0,2.04,14.8
4,Algeria,2381740.0,17.13,1.190000e+10,4.60,2.190000e+10,2.361000e+10,2.576000e+10,3.216000e+10,2.123000e+11,...,1200000.0,1.187000e+10,32531853.0,37.4,3973.0,4.355000e+10,2199600.0,1447310.0,1.92,25.4
5,American Samoa,199.0,23.13,NaN,3.33,NaN,1.209000e+08,1.300000e+08,3.000000e+07,5.000000e+08,...,0.0,NaN,57881.0,NaN,NaN,NaN,15000.0,2377.0,3.25,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,West Bank,5860.0,32.37,NaN,3.99,1.080000e+08,NaN,NaN,2.050000e+08,1.800000e+09,...,NaN,NaN,2385615.0,NaN,NaN,NaN,301600.0,480000.0,4.40,27.2
260,Western Sahara,266000.0,NaN,NaN,NaN,NaN,8.370000e+07,9.000000e+07,NaN,NaN,...,0.0,NaN,273008.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN
261,Yemen,527970.0,43.07,3.699000e+08,8.53,5.400000e+09,2.827000e+09,3.040000e+09,4.468000e+09,1.625000e+10,...,417500.0,4.000000e+09,20727063.0,46.4,NaN,5.300000e+09,542200.0,411100.0,6.67,35.0
262,Zambia,752614.0,41.38,-1.814000e+08,20.23,5.353000e+09,5.345000e+09,8.167000e+09,1.548000e+09,9.409000e+09,...,0.0,NaN,11261795.0,127.5,2173.0,3.450000e+08,88400.0,241000.0,5.47,50.0
263,Zimbabwe,390580.0,29.74,-2.303000e+08,24.66,4.086000e+09,1.122000e+10,8.839000e+09,1.409000e+09,2.437000e+10,...,0.0,NaN,12746990.0,52.3,3077.0,5.700000e+07,300900.0,379100.0,3.54,70.0

In [92]:
df_countries.drop('Current account balance', axis=1)

,Country,Area(sq km),Birth rate(births/1000 population),Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,GDP - per capita,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
1,Afghanistan,647500.0,47.02,20.75,8.000000e+09,6.522000e+08,5.400000e+08,4.460000e+08,2.150000e+10,800.0,...,0.0,0.000000e+00,29928987.0,NaN,NaN,NaN,33100.0,15000.0,6.75,NaN
2,Akrotiri,123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748.0,15.08,5.12,1.410000e+09,6.760000e+09,5.680000e+09,5.524000e+08,1.746000e+10,4900.0,...,2000.0,1.855000e+08,3563112.0,NaN,447.0,1.206000e+09,255000.0,1100000.0,2.04,14.8
4,Algeria,2381740.0,17.13,4.60,2.190000e+10,2.361000e+10,2.576000e+10,3.216000e+10,2.123000e+11,6600.0,...,1200000.0,1.187000e+10,32531853.0,37.4,3973.0,4.355000e+10,2199600.0,1447310.0,1.92,25.4
5,American Samoa,199.0,23.13,3.33,NaN,1.209000e+08,1.300000e+08,3.000000e+07,5.000000e+08,8000.0,...,0.0,NaN,57881.0,NaN,NaN,NaN,15000.0,2377.0,3.25,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,West Bank,5860.0,32.37,3.99,1.080000e+08,NaN,NaN,2.050000e+08,1.800000e+09,800.0,...,NaN,NaN,2385615.0,NaN,NaN,NaN,301600.0,480000.0,4.40,27.2
260,Western Sahara,266000.0,NaN,NaN,NaN,8.370000e+07,9.000000e+07,NaN,NaN,NaN,...,0.0,NaN,273008.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN
261,Yemen,527970.0,43.07,8.53,5.400000e+09,2.827000e+09,3.040000e+09,4.468000e+09,1.625000e+10,800.0,...,417500.0,4.000000e+09,20727063.0,46.4,NaN,5.300000e+09,542200.0,411100.0,6.67,35.0
262,Zambia,752614.0,41.38,20.23,5.353000e+09,5.345000e+09,8.167000e+09,1.548000e+09,9.409000e+09,900.0,...,0.0,NaN,11261795.0,127.5,2173.0,3.450000e+08,88400.0,241000.0,5.47,50.0
263,Zimbabwe,390580.0,29.74,24.66,4.086000e+09,1.122000e+10,8.839000e+09,1.409000e+09,2.437000e+10,1900.0,...,0.0,NaN,12746990.0,52.3,3077.0,5.700000e+07,300900.0,379100.0,3.54,70.0

In [94]:
df_countries.fillna(0)

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
1,Afghanistan,647500.0,47.02,0.000000e+00,20.75,8.000000e+09,6.522000e+08,5.400000e+08,4.460000e+08,2.150000e+10,...,0.0,0.000000e+00,29928987.0,0.0,0.0,0.000000e+00,33100.0,15000.0,6.75,0.0
2,Akrotiri,123.0,0.00,0.000000e+00,0.00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.00,0.0
3,Albania,28748.0,15.08,-5.040000e+08,5.12,1.410000e+09,6.760000e+09,5.680000e+09,5.524000e+08,1.746000e+10,...,2000.0,1.855000e+08,3563112.0,0.0,447.0,1.206000e+09,255000.0,1100000.0,2.04,14.8
4,Algeria,2381740.0,17.13,1.190000e+10,4.60,2.190000e+10,2.361000e+10,2.576000e+10,3.216000e+10,2.123000e+11,...,1200000.0,1.187000e+10,32531853.0,37.4,3973.0,4.355000e+10,2199600.0,1447310.0,1.92,25.4
5,American Samoa,199.0,23.13,0.000000e+00,3.33,0.000000e+00,1.209000e+08,1.300000e+08,3.000000e+07,5.000000e+08,...,0.0,0.000000e+00,57881.0,0.0,0.0,0.000000e+00,15000.0,2377.0,3.25,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,West Bank,5860.0,32.37,0.000000e+00,3.99,1.080000e+08,0.000000e+00,0.000000e+00,2.050000e+08,1.800000e+09,...,0.0,0.000000e+00,2385615.0,0.0,0.0,0.000000e+00,301600.0,480000.0,4.40,27.2
260,Western Sahara,266000.0,0.00,0.000000e+00,0.00,0.000000e+00,8.370000e+07,9.000000e+07,0.000000e+00,0.000000e+00,...,0.0,0.000000e+00,273008.0,0.0,0.0,0.000000e+00,0.0,0.0,0.00,0.0
261,Yemen,527970.0,43.07,3.699000e+08,8.53,5.400000e+09,2.827000e+09,3.040000e+09,4.468000e+09,1.625000e+10,...,417500.0,4.000000e+09,20727063.0,46.4,0.0,5.300000e+09,542200.0,411100.0,6.67,35.0
262,Zambia,752614.0,41.38,-1.814000e+08,20.23,5.353000e+09,5.345000e+09,8.167000e+09,1.548000e+09,9.409000e+09,...,0.0,0.000000e+00,11261795.0,127.5,2173.0,3.450000e+08,88400.0,241000.0,5.47,50.0
263,Zimbabwe,390580.0,29.74,-2.303000e+08,24.66,4.086000e+09,1.122000e+10,8.839000e+09,1.409000e+09,2.437000e+10,...,0.0,0.000000e+00,12746990.0,52.3,3077.0,5.700000e+07,300900.0,379100.0,3.54,70.0

### Iteration

In [97]:
for (index, row) in df_countries.head(10).iterrows():
    print(row.to_dict())

{'Country': 'Afghanistan', 'Area(sq km)': 647500.0, 'Birth rate(births/1000 population)': 47.02, 'Current account balance': nan, 'Death rate(deaths/1000 population)': 20.75, 'Debt - external': 8000000000.0, 'Electricity - consumption(kWh)': 652200000.0, 'Electricity - production(kWh)': 540000000.0, 'Exports': 446000000.0, 'GDP': 21500000000.0, 'GDP - per capita': 800.0, 'GDP - real growth rate(%)': 7.5, 'HIV/AIDS - adult prevalence rate(%)': 0.01, 'HIV/AIDS - deaths': nan, 'HIV/AIDS - people living with HIV/AIDS': nan, 'Highways(km)': 21000.0, 'Imports': 3759000000.0, 'Industrial production growth rate(%)': nan, 'Infant mortality rate(deaths/1000 live births)': 163.07, 'Inflation rate (consumer prices)(%)': 10.3, 'Internet hosts': nan, 'Internet users': 1000.0, 'Investment (gross fixed)(% of GDP)': nan, 'Labor force': 11800000.0, 'Life expectancy at birth(years)': 42.9, 'Military expenditures - dollar figure': 188400000.0, 'Military expenditures - percent of GDP(%)': 2.6, 'Natural gas - consumption(cu m)': 220000000.0, 'Natural gas - exports(cu m)': 0.0, 'Natural gas - imports(cu m)': 0.0, 'Natural gas - production(cu m)': 220000000.0, 'Natural gas - proved reserves(cu m)': 49980000000.0, 'Oil - consumption(bbl/day)': 3500.0, 'Oil - exports(bbl/day)': nan, 'Oil - imports(bbl/day)': nan, 'Oil - production(bbl/day)': 0.0, 'Oil - proved reserves(bbl)': 0.0, 'Population': 29928987.0, 'Public debt(% of GDP)': nan, 'Railways(km)': nan, 'Reserves of foreign exchange & gold': nan, 'Telephones - main lines in use': 33100.0, 'Telephones - mobile cellular': 15000.0, 'Total fertility rate(children born/woman)': 6.75, 'Unemployment rate(%)': nan}
{'Country': 'Akrotiri', 'Area(sq km)': 123.0, 'Birth rate(births/1000 population)': nan, 'Current account balance': nan, 'Death rate(deaths/1000 population)': nan, 'Debt - external': nan, 'Electricity - consumption(kWh)': nan, 'Electricity - production(kWh)': nan, 'Exports': nan, 'GDP': nan, 'GDP - per capita': nan, 'GDP - real growth rate(%)': nan, 'HIV/AIDS - adult prevalence rate(%)': nan, 'HIV/AIDS - deaths': nan, 'HIV/AIDS - people living with HIV/AIDS': nan, 'Highways(km)': nan, 'Imports': nan, 'Industrial production growth rate(%)': nan, 'Infant mortality rate(deaths/1000 live births)': nan, 'Inflation rate (consumer prices)(%)': nan, 'Internet hosts': nan, 'Internet users': nan, 'Investment (gross fixed)(% of GDP)': nan, 'Labor force': nan, 'Life expectancy at birth(years)': nan, 'Military expenditures - dollar figure': nan, 'Military expenditures - percent of GDP(%)': nan, 'Natural gas - consumption(cu m)': nan, 'Natural gas - exports(cu m)': nan, 'Natural gas - imports(cu m)': nan, 'Natural gas - production(cu m)': nan, 'Natural gas - proved reserves(cu m)': nan, 'Oil - consumption(bbl/day)': nan, 'Oil - exports(bbl/day)': nan, 'Oil - imports(bbl/day)': nan, 'Oil - production(bbl/day)': nan, 'Oil - proved reserves(bbl)': nan, 'Population': nan, 'Public debt(% of GDP)': nan, 'Railways(km)': nan, 'Reserves of foreign exchange & gold': nan, 'Telephones - main lines in use': nan, 'Telephones - mobile cellular': nan, 'Total fertility rate(children born/woman)': nan, 'Unemployment rate(%)': nan}
{'Country': 'Albania', 'Area(sq km)': 28748.0, 'Birth rate(births/1000 population)': 15.08, 'Current account balance': -504000000.0, 'Death rate(deaths/1000 population)': 5.12, 'Debt - external': 1410000000.0, 'Electricity - consumption(kWh)': 6760000000.0, 'Electricity - production(kWh)': 5680000000.0, 'Exports': 552400000.0, 'GDP': 17460000000.0, 'GDP - per capita': 4900.0, 'GDP - real growth rate(%)': 5.6, 'HIV/AIDS - adult prevalence rate(%)': nan, 'HIV/AIDS - deaths': nan, 'HIV/AIDS - people living with HIV/AIDS': nan, 'Highways(km)': 18000.0, 'Imports': 2076000000.0, 'Industrial production growth rate(%)': 3.1, 'Infant mortality rate(deaths/1000 live births)': 21.52, 'Inflation rate (consumer prices)(%)': 3.2, 'Internet hosts': 455.0, 'Internet users': 30000.0, 'Investment (gross fixed)(% of GDP)': 18.4, 'Labor force': 1090000.0, 'Life expectancy at birth(years)': 77.24, 'Military expenditures - dollar figure': 56500000.0, 'Military expenditures - percent of GDP(%)': 1.49, 'Natural gas - consumption(cu m)': 30000000.0, 'Natural gas - exports(cu m)': 0.0, 'Natural gas - imports(cu m)': 0.0, 'Natural gas - production(cu m)': 30000000.0, 'Natural gas - proved reserves(cu m)': 3316000000.0, 'Oil - consumption(bbl/day)': 7500.0, 'Oil - exports(bbl/day)': 0.0, 'Oil - imports(bbl/day)': 5500.0, 'Oil - production(bbl/day)': 2000.0, 'Oil - proved reserves(bbl)': 185500000.0, 'Population': 3563112.0, 'Public debt(% of GDP)': nan, 'Railways(km)': 447.0, 'Reserves of foreign exchange & gold': 1206000000.0, 'Telephones - main lines in use': 255000.0, 'Telephones - mobile cellular': 1100000.0, 'Total fertility rate(children born/woman)': 2.04, 'Unemployment rate(%)': 14.8}
{'Country': 'Algeria', 'Area(sq km)': 2381740.0, 'Birth rate(births/1000 population)': 17.13, 'Current account balance': 11900000000.0, 'Death rate(deaths/1000 population)': 4.6, 'Debt - external': 21900000000.0, 'Electricity - consumption(kWh)': 23610000000.0, 'Electricity - production(kWh)': 25760000000.0, 'Exports': 32160000000.0, 'GDP': 212300000000.0, 'GDP - per capita': 6600.0, 'GDP - real growth rate(%)': 6.1, 'HIV/AIDS - adult prevalence rate(%)': 0.1, 'HIV/AIDS - deaths': 500.0, 'HIV/AIDS - people living with HIV/AIDS': 9100.0, 'Highways(km)': 104000.0, 'Imports': 15250000000.0, 'Industrial production growth rate(%)': 6.0, 'Infant mortality rate(deaths/1000 live births)': 31.0, 'Inflation rate (consumer prices)(%)': 3.1, 'Internet hosts': 897.0, 'Internet users': 500000.0, 'Investment (gross fixed)(% of GDP)': 26.2, 'Labor force': 9910000.0, 'Life expectancy at birth(years)': 73.0, 'Military expenditures - dollar figure': 2480000000.0, 'Military expenditures - percent of GDP(%)': 3.2, 'Natural gas - consumption(cu m)': 22320000000.0, 'Natural gas - exports(cu m)': 57980000000.0, 'Natural gas - imports(cu m)': 0.0, 'Natural gas - production(cu m)': 80300000000.0, 'Natural gas - proved reserves(cu m)': 4739000000000.0, 'Oil - consumption(bbl/day)': 209000.0, 'Oil - exports(bbl/day)': nan, 'Oil - imports(bbl/day)': nan, 'Oil - production(bbl/day)': 1200000.0, 'Oil - proved reserves(bbl)': 11870000000.0, 'Population': 32531853.0, 'Public debt(% of GDP)': 37.4, 'Railways(km)': 3973.0, 'Reserves of foreign exchange & gold': 43550000000.0, 'Telephones - main lines in use': 2199600.0, 'Telephones - mobile cellular': 1447310.0, 'Total fertility rate(children born/woman)': 1.92, 'Unemployment rate(%)': 25.4}
{'Country': 'American Samoa', 'Area(sq km)': 199.0, 'Birth rate(births/1000 population)': 23.13, 'Current account balance': nan, 'Death rate(deaths/1000 population)': 3.33, 'Debt - external': nan, 'Electricity - consumption(kWh)': 120900000.0, 'Electricity - production(kWh)': 130000000.0, 'Exports': 30000000.0, 'GDP': 500000000.0, 'GDP - per capita': 8000.0, 'GDP - real growth rate(%)': nan, 'HIV/AIDS - adult prevalence rate(%)': nan, 'HIV/AIDS - deaths': nan, 'HIV/AIDS - people living with HIV/AIDS': nan, 'Highways(km)': 185.0, 'Imports': 123000000.0, 'Industrial production growth rate(%)': nan, 'Infant mortality rate(deaths/1000 live births)': 9.27, 'Inflation rate (consumer prices)(%)': nan, 'Internet hosts': nan, 'Internet users': nan, 'Investment (gross fixed)(% of GDP)': nan, 'Labor force': 14000.0, 'Life expectancy at birth(years)': 75.84, 'Military expenditures - dollar figure': nan, 'Military expenditures - percent of GDP(%)': nan, 'Natural gas - consumption(cu m)': nan, 'Natural gas - exports(cu m)': nan, 'Natural gas - imports(cu m)': nan, 'Natural gas - production(cu m)': nan, 'Natural gas - proved reserves(cu m)': nan, 'Oil - consumption(bbl/day)': 3800.0, 'Oil - exports(bbl/day)': nan, 'Oil - imports(bbl/day)': nan, 'Oil - production(bbl/day)': 0.0, 'Oil - proved reserves(bbl)': nan, 'Population': 57881.0, 'Public debt(% of GDP)': nan, 'Railways(km)': nan, 'Reserves of foreign exchange & gold': nan, 'Telephones - main lines in use': 15000.0, 'Telephones - mobile cellular': 2377.0, 'Total fertility rate(children born/woman)': 3.25, 'Unemployment rate(%)': 6.0}
{'Country': 'Andorra', 'Area(sq km)': 468.0, 'Birth rate(births/1000 population)': 9.0, 'Current account balance': nan, 'Death rate(deaths/1000 population)': 6.07, 'Debt - external': nan, 'Electricity - consumption(kWh)': nan, 'Electricity - production(kWh)': nan, 'Exports': 58000000.0, 'GDP': 1900000000.0, 'GDP - per capita': 26800.0, 'GDP - real growth rate(%)': 2.0, 'HIV/AIDS - adult prevalence rate(%)': nan, 'HIV/AIDS - deaths': nan, 'HIV/AIDS - people living with HIV/AIDS': nan, 'Highways(km)': 269.0, 'Imports': 1077000000.0, 'Industrial production growth rate(%)': nan, 'Infant mortality rate(deaths/1000 live births)': 4.05, 'Inflation rate (consumer prices)(%)': 4.3, 'Internet hosts': 4144.0, 'Internet users': 24500.0, 'Investment (gross fixed)(% of GDP)': nan, 'Labor force': 33000.0, 'Life expectancy at birth(years)': 83.51, 'Military expenditures - dollar figure': nan, 'Military expenditures - percent of GDP(%)': nan, 'Natural gas - consumption(cu m)': nan, 'Natural gas - exports(cu m)': nan, 'Natural gas - imports(cu m)': nan, 'Natural gas - production(cu m)': nan, 'Natural gas - proved reserves(cu m)': nan, 'Oil - consumption(bbl/day)': nan, 'Oil - exports(bbl/day)': nan, 'Oil - imports(bbl/day)': nan, 'Oil - production(bbl/day)': nan, 'Oil - proved reserves(bbl)': nan, 'Population': 70549.0, 'Public debt(% of GDP)': nan, 'Railways(km)': nan, 'Reserves of foreign exchange & gold': nan, 'Telephones - main lines in use': 35000.0, 'Telephones - mobile cellular': 23500.0, 'Total fertility rate(children born/woman)': 1.29, 'Unemployment rate(%)': 0.0}
{'Country': 'Angola', 'Area(sq km)': 1246700.0, 'Birth rate(births/1000 population)': 44.64, 'Current account balance': -37880000.0, 'Death rate(deaths/1000 population)': 25.9, 'Debt - external': 10450000000.0, 'Electricity - consumption(kWh)': 1587000000.0, 'Electricity - production(kWh)': 1707000000.0, 'Exports': 12760000000.0, 'GDP': 23170000000.0, 'GDP - per capita': 2100.0, 'GDP - real growth rate(%)': 11.7, 'HIV/AIDS - adult prevalence rate(%)': 3.9, 'HIV/AIDS - deaths': 21000.0, 'HIV/AIDS - people living with HIV/AIDS': 240000.0, 'Highways(km)': 51429.0, 'Imports': 4896000000.0, 'Industrial production growth rate(%)': 1.0, 'Infant mortality rate(deaths/1000 live births)': 191.19, 'Inflation rate (consumer prices)(%)': 43.8, 'Internet hosts': 17.0, 'Internet users': 41000.0, 'Investment (gross fixed)(% of GDP)': 34.5, 'Labor force': 5410000.0, 'Life expectancy at birth(years)': 36.61, 'Military expenditures - dollar figure': 183580000.0, 'Military expenditures - percent of GDP(%)': 10.6, 'Natural gas - consumption(cu m)': 530000000.0, 'Natural gas - exports(cu m)': 0.0, 'Natural gas - imports(cu m)': 0.0, 'Natural gas - production(cu m)': 530000000.0, 'Natural gas - proved reserves(cu m)': 79570000000.0, 'Oil - consumption(bbl/day)': 31000.0, 'Oil - exports(bbl/day)': nan, 'Oil - imports(bbl/day)': nan, 'Oil - production(bbl/day)': 980000.0, 'Oil - proved reserves(bbl)': 22880000000.0, 'Population': 11190786.0, 'Public debt(% of GDP)': nan, 'Railways(km)': 2761.0, 'Reserves of foreign exchange & gold': 800000000.0, 'Telephones - main lines in use': 96300.0, 'Telephones - mobile cellular': 130000.0, 'Total fertility rate(children born/woman)': 6.27, 'Unemployment rate(%)': nan}
{'Country': 'Anguilla', 'Area(sq km)': 102.0, 'Birth rate(births/1000 population)': 14.26, 'Current account balance': nan, 'Death rate(deaths/1000 population)': 5.43, 'Debt - external': 8800000.0, 'Electricity - consumption(kWh)': 42600000.0, 'Electricity - production(kWh)': nan, 'Exports': 2600000.0, 'GDP': 112000000.0, 'GDP - per capita': 7500.0, 'GDP - real growth rate(%)': 2.8, 'HIV/AIDS - adult prevalence rate(%)': nan, 'HIV/AIDS - deaths': nan, 'HIV/AIDS - people living with HIV/AIDS': nan, 'Highways(km)': 105.0, 'Imports': 80900000.0, 'Industrial production growth rate(%)': 3.1, 'Infant mortality rate(deaths/1000 live births)': 21.03, 'Inflation rate (consumer prices)(%)': 2.3, 'Internet hosts': nan, 'Internet users': 3000.0, 'Investment (gross fixed)(% of GDP)': nan, 'Labor force': 6049.0, 'Life expectancy at birth(years)': 77.11, 'Military expenditures - dollar figure': nan, 'Military expenditures - percent of GDP(%)': nan, 'Natural gas - consumption(cu m)': nan, 'Natural gas - exports(cu m)': nan, 'Natural gas - imports(cu m)': nan, 'Natural gas - production(cu m)': nan, 'Natural gas - proved reserves(cu m)': nan, 'Oil - consumption(bbl/day)': nan, 'Oil - exports(bbl/day)': nan, 'Oil - imports(bbl/day)': nan, 'Oil - production(bbl/day)': nan, 'Oil - proved reserves(bbl)': nan, 'Population': 13254.0, 'Public debt(% of GDP)': nan, 'Railways(km)': nan, 'Reserves of foreign exchange & gold': nan, 'Telephones - main lines in use': 6200.0, 'Telephones - mobile cellular': 1800.0, 'Total fertility rate(children born/woman)': 1.73, 'Unemployment rate(%)': 8.0}
{'Country': 'Antarctica', 'Area(sq km)': 14000000.0, 'Birth rate(births/1000 population)': nan, 'Current account balance': nan, 'Death rate(deaths/1000 population)': nan, 'Debt - external': nan, 'Electricity - consumption(kWh)': nan, 'Electricity - production(kWh)': nan, 'Exports': nan, 'GDP': nan, 'GDP - per capita': nan, 'GDP - real growth rate(%)': nan, 'HIV/AIDS - adult prevalence rate(%)': nan, 'HIV/AIDS - deaths': nan, 'HIV/AIDS - people living with HIV/AIDS': nan, 'Highways(km)': nan, 'Imports': nan, 'Industrial production growth rate(%)': nan, 'Infant mortality rate(deaths/1000 live births)': nan, 'Inflation rate (consumer prices)(%)': nan, 'Internet hosts': nan, 'Internet users': nan, 'Investment (gross fixed)(% of GDP)': nan, 'Labor force': nan, 'Life expectancy at birth(years)': nan, 'Military expenditures - dollar figure': nan, 'Military expenditures - percent of GDP(%)': nan, 'Natural gas - consumption(cu m)': nan, 'Natural gas - exports(cu m)': nan, 'Natural gas - imports(cu m)': nan, 'Natural gas - production(cu m)': nan, 'Natural gas - proved reserves(cu m)': nan, 'Oil - consumption(bbl/day)': nan, 'Oil - exports(bbl/day)': nan, 'Oil - imports(bbl/day)': nan, 'Oil - production(bbl/day)': nan, 'Oil - proved reserves(bbl)': nan, 'Population': nan, 'Public debt(% of GDP)': nan, 'Railways(km)': nan, 'Reserves of foreign exchange & gold': nan, 'Telephones - main lines in use': 0.0, 'Telephones - mobile cellular': nan, 'Total fertility rate(children born/woman)': nan, 'Unemployment rate(%)': nan}
{'Country': 'Antigua and Barbuda', 'Area(sq km)': 443.0, 'Birth rate(births/1000 population)': 17.26, 'Current account balance': nan, 'Death rate(deaths/1000 population)': 5.44, 'Debt - external': 231000000.0, 'Electricity - consumption(kWh)': 103000000.0, 'Electricity - production(kWh)': 110800000.0, 'Exports': 689000000.0, 'GDP': 750000000.0, 'GDP - per capita': 11000.0, 'GDP - real growth rate(%)': 3.0, 'HIV/AIDS - adult prevalence rate(%)': nan, 'HIV/AIDS - deaths': nan, 'HIV/AIDS - people living with HIV/AIDS': nan, 'Highways(km)': 250.0, 'Imports': 692000000.0, 'Industrial production growth rate(%)': 6.0, 'Infant mortality rate(deaths/1000 live births)': 19.46, 'Inflation rate (consumer prices)(%)': 0.4, 'Internet hosts': 1665.0, 'Internet users': 10000.0, 'Investment (gross fixed)(% of GDP)': nan, 'Labor force': 30000.0, 'Life expectancy at birth(years)': 71.9, 'Military expenditures - dollar figure': nan, 'Military expenditures - percent of GDP(%)': nan, 'Natural gas - consumption(cu m)': nan, 'Natural gas - exports(cu m)': nan, 'Natural gas - imports(cu m)': nan, 'Natural gas - production(cu m)': nan, 'Natural gas - proved reserves(cu m)': nan, 'Oil - consumption(bbl/day)': 3600.0, 'Oil - exports(bbl/day)': nan, 'Oil - imports(bbl/day)': nan, 'Oil - production(bbl/day)': 0.0, 'Oil - proved reserves(bbl)': nan, 'Population': 68722.0, 'Public debt(% of GDP)': nan, 'Railways(km)': nan, 'Reserves of foreign exchange & gold': nan, 'Telephones - main lines in use': 38000.0, 'Telephones - mobile cellular': 38200.0, 'Total fertility rate(children born/woman)': 2.26, 'Unemployment rate(%)': 11.0}

### Group By

In [98]:
df_students = pd.DataFrame({
    'names': ['Jack', 'John', 'Simon', 'Rachel', 'Angela', 'Michel', 'Sarah', 'Suzie', 'Dan', 'Andrew'],
    'grades': ['A', 'B', 'B', 'C', 'A', 'D', 'C', 'B', 'A', 'C']
})

In [99]:
df_students.head(10)

    names grades
0    Jack      A
1    John      B
2   Simon      B
3  Rachel      C
4  Angela      A
5  Michel      D
6   Sarah      C
7   Suzie      B
8     Dan      A
9  Andrew      C

In [102]:
df_students.groupby('grades').groups

{'A': [0, 4, 8], 'B': [1, 2, 7], 'C': [3, 6, 9], 'D': [5]}

In [103]:
df_students.groupby('grades').get_group('A')

    names grades
0    Jack      A
4  Angela      A
8     Dan      A

In [104]:
df_students.groupby('grades').get_group('B')

   names grades
1   John      B
2  Simon      B
7  Suzie      B

In [105]:
df_students.groupby('grades').count()

        names
grades
A           3
B           3
C           3
D           1

In [107]:
df_students['grades'].value_counts()

grades
A    3
B    3
C    3
D    1
Name: count, dtype: int64

### Applying Functions

In [108]:
df_countries.head(10)

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
1,Afghanistan,647500.0,47.02,NaN,20.75,8.000000e+09,6.522000e+08,5.400000e+08,4.460000e+08,2.150000e+10,...,0.0,0.000000e+00,29928987.0,NaN,NaN,NaN,33100.0,15000.0,6.75,NaN
2,Akrotiri,123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748.0,15.08,-5.040000e+08,5.12,1.410000e+09,6.760000e+09,5.680000e+09,5.524000e+08,1.746000e+10,...,2000.0,1.855000e+08,3563112.0,NaN,447.0,1.206000e+09,255000.0,1100000.0,2.04,14.8
4,Algeria,2381740.0,17.13,1.190000e+10,4.60,2.190000e+10,2.361000e+10,2.576000e+10,3.216000e+10,2.123000e+11,...,1200000.0,1.187000e+10,32531853.0,37.4,3973.0,4.355000e+10,2199600.0,1447310.0,1.92,25.4
5,American Samoa,199.0,23.13,NaN,3.33,NaN,1.209000e+08,1.300000e+08,3.000000e+07,5.000000e+08,...,0.0,NaN,57881.0,NaN,NaN,NaN,15000.0,2377.0,3.25,6.0
6,Andorra,468.0,9.00,NaN,6.07,NaN,NaN,NaN,5.800000e+07,1.900000e+09,...,NaN,NaN,70549.0,NaN,NaN,NaN,35000.0,23500.0,1.29,0.0
7,Angola,1246700.0,44.64,-3.788000e+07,25.90,1.045000e+10,1.587000e+09,1.707000e+09,1.276000e+10,2.317000e+10,...,980000.0,2.288000e+10,11190786.0,NaN,2761.0,8.000000e+08,96300.0,130000.0,6.27,NaN
8,Anguilla,102.0,14.26,NaN,5.43,8.800000e+06,4.260000e+07,NaN,2.600000e+06,1.120000e+08,...,NaN,NaN,13254.0,NaN,NaN,NaN,6200.0,1800.0,1.73,8.0
9,Antarctica,14000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
10,Antigua and Barbuda,443.0,17.26,NaN,5.44,2.310000e+08,1.030000e+08,1.108000e+08,6.890000e+08,7.500000e+08,...,0.0,NaN,68722.0,NaN,NaN,NaN,38000.0,38200.0,2.26,11.0

In [109]:
df_countries['Population'] / 1000

1      29928.987
2            NaN
3       3563.112
4      32531.853
5         57.881
         ...
259     2385.615
260      273.008
261    20727.063
262    11261.795
263    12746.990
Name: Population, Length: 263, dtype: float64

In [115]:
def divide_by_million(data, column):
    data_to_divide = data[column]
    return round(data_to_divide / 1000000, 2)

In [116]:
df_countries['Population in millions'] = df_countries.apply(divide_by_million, args=('Population',), axis=1)

In [117]:
df_countries.head(10)

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%),Population in millions
1,Afghanistan,647500.0,47.02,NaN,20.75,8.000000e+09,6.522000e+08,5.400000e+08,4.460000e+08,2.150000e+10,...,0.000000e+00,29928987.0,NaN,NaN,NaN,33100.0,15000.0,6.75,NaN,29.93
2,Akrotiri,123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748.0,15.08,-5.040000e+08,5.12,1.410000e+09,6.760000e+09,5.680000e+09,5.524000e+08,1.746000e+10,...,1.855000e+08,3563112.0,NaN,447.0,1.206000e+09,255000.0,1100000.0,2.04,14.8,3.56
4,Algeria,2381740.0,17.13,1.190000e+10,4.60,2.190000e+10,2.361000e+10,2.576000e+10,3.216000e+10,2.123000e+11,...,1.187000e+10,32531853.0,37.4,3973.0,4.355000e+10,2199600.0,1447310.0,1.92,25.4,32.53
5,American Samoa,199.0,23.13,NaN,3.33,NaN,1.209000e+08,1.300000e+08,3.000000e+07,5.000000e+08,...,NaN,57881.0,NaN,NaN,NaN,15000.0,2377.0,3.25,6.0,0.06
6,Andorra,468.0,9.00,NaN,6.07,NaN,NaN,NaN,5.800000e+07,1.900000e+09,...,NaN,70549.0,NaN,NaN,NaN,35000.0,23500.0,1.29,0.0,0.07
7,Angola,1246700.0,44.64,-3.788000e+07,25.90,1.045000e+10,1.587000e+09,1.707000e+09,1.276000e+10,2.317000e+10,...,2.288000e+10,11190786.0,NaN,2761.0,8.000000e+08,96300.0,130000.0,6.27,NaN,11.19
8,Anguilla,102.0,14.26,NaN,5.43,8.800000e+06,4.260000e+07,NaN,2.600000e+06,1.120000e+08,...,NaN,13254.0,NaN,NaN,NaN,6200.0,1800.0,1.73,8.0,0.01
9,Antarctica,14000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,443.0,17.26,NaN,5.44,2.310000e+08,1.030000e+08,1.108000e+08,6.890000e+08,7.500000e+08,...,NaN,68722.0,NaN,NaN,NaN,38000.0,38200.0,2.26,11.0,0.07